.main-slider-nav .swiper-buttons .swiper-button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  border-radius: 0;
  text-align: center;
  color: #ffffff;
  background-color: #3474d4;
}
.main-slider-nav .swiper-buttons .swiper-button-next:hover {
  background-color: #555;
  color: #ffffff;
}
.main-slider-nav .swiper-buttons .swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  border-radius: 0;
  text-align: center;
  color: #ffffff;
  background-color: #3474d4;
}
.main-slider-nav .swiper-buttons .swiper-button-prev:hover {
  background-color: #555;
  color: #ffffff;
}

.main-slider-nav.small-nav .swiper-buttons .swiper-button-next {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.main-slider-nav.small-nav .swiper-buttons .swiper-button-next:hover {
  background-color: #555;
  color: #ffffff;
}
.main-slider-nav.small-nav .swiper-buttons .swiper-button-prev {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.main-slider-nav.small-nav .swiper-buttons .swiper-button-prev:hover {
  background-color: #555;
  color: #ffffff;
}



.main-slider-nav .swiper-button-next {
  outline: 0;
  left: auto;
  right: -20px;
}
.main-slider-nav .swiper-button-next:after {
  content: "";
  font-family: "EcIcons";
  font-size: 30px;
  line-height: 1;
  outline: 0;
}

.main-slider-nav:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  right: 10px;
}

.main-slider-nav.small-nav .swiper-button-next:after {
  font-size: 14px;
}

.main-slider-nav .swiper-button-prev {
  outline: 0;
  right: auto;
  left: -20px;
}
.main-slider-nav .swiper-button-prev:after {
  content: "";
  font-family: "EcIcons";
  font-size: 30px;
  line-height: 1;
  outline: 0;
}


.main-slider-nav:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
  left: 10px;
}


.main-slider-nav.small-nav .swiper-button-prev:after {
  font-size: 14px;
}