.main-slider-nav .swiper-buttons .swiper-button-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  border-radius: 0;
  text-align: center;
  color: #ffffff;
  background-color: #3474d4;
}
.main-slider-nav .swiper-buttons .swiper-button-next:hover {
  background-color: #555;
  color: #ffffff;
}
.main-slider-nav .swiper-buttons .swiper-button-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 9;
  width: 40px;
  height: 40px;
  line-height: 40px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: auto;
  border-radius: 0;
  text-align: center;
  color: #ffffff;
  background-color: #3474d4;
}
.main-slider-nav .swiper-buttons .swiper-button-prev:hover {
  background-color: #555;
  color: #ffffff;
}

.main-slider-nav.small-nav .swiper-buttons .swiper-button-next {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.main-slider-nav.small-nav .swiper-buttons .swiper-button-next:hover {
  background-color: #555;
  color: #ffffff;
}
.main-slider-nav.small-nav .swiper-buttons .swiper-button-prev {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.main-slider-nav.small-nav .swiper-buttons .swiper-button-prev:hover {
  background-color: #555;
  color: #ffffff;
}



.main-slider-nav .swiper-button-next {
  outline: 0;
  left: auto;
  right: -20px;
}
.main-slider-nav .swiper-button-next:after {
  content: "";
  font-family: "EcIcons";
  font-size: 30px;
  line-height: 1;
  outline: 0;
}

.main-slider-nav:hover .swiper-button-next {
  opacity: 1;
  visibility: visible;
  right: 10px;
}

.main-slider-nav.small-nav .swiper-button-next:after {
  font-size: 14px;
}

.main-slider-nav .swiper-button-prev {
  outline: 0;
  right: auto;
  left: -20px;
}
.main-slider-nav .swiper-button-prev:after {
  content: "";
  font-family: "EcIcons";
  font-size: 30px;
  line-height: 1;
  outline: 0;
}


.main-slider-nav:hover .swiper-button-prev {
  opacity: 1;
  visibility: visible;
  left: 10px;
}


.main-slider-nav.small-nav .swiper-button-prev:after {
  font-size: 14px;
}

.ec-product-inner .ec-pro-image .ec-pro-actions .ec-btn-group {
  position: absolute;
  right: 15px;
  bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: rgba(68, 68, 68, 0.7);
  background-color: #ffffff;
  cursor: pointer;
}
.ec-product-inner .ec-pro-image .ec-pro-actions .ec-btn-group i {
  font-size: 14px;
  line-height: 1;
}
.ec-product-inner .ec-pro-image .ec-pro-actions .ec-btn-group:hover:not(.active),
.ec-product-inner .ec-pro-image .ec-pro-actions .ec-btn-group .active:not(.active) {
  color: rgba(68, 68, 68, 0.7);
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px #ccc;
          box-shadow: 0px 0px 5px 0px #ccc;
}
.ec-product-inner .ec-pro-image .ec-pro-actions .ec-btn-group.active {
  color: rgba(68, 68, 68, 0.7);
}