.fs-12{
    font-family: Futura,sans-serif;
    font-size: 12px;
    
}

.fa{
    font-size: 14px;
}
.fs-14{
    font-size: 14px;
}
.fs-20{
    font-size: 20px;
}

.fs-16{
    font-size: 16px;
}
.fs-25{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}